/*文章主题1*/
.theme1 .article-description {
    color: #4d4d4d;
    width: 100%;
}

.theme1 .article-description:hover {
    text-decoration: none;
}

.theme1 .article-img {
    margin: 10px 5px 0;
}

.theme1 .article-img svg {
    width: 48px;
    height: 48px;
}

.theme1 .article-hr {
    margin: 5px 0;
    border-top-color: rgba(255, 255, 255, 0.75);
}

.theme1 .article-title {
    margin: 10px 0;
    font-size: large;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.theme1 .article-content {
    color: #787878;
    margin-top: 10px;
    font-size: smaller;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.theme1 .article-tag {
    color: #787878;
    font-size: small;
    font-weight: lighter;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.theme1 .article-tag span {
    width: 25%;
}

.theme1 .article-tag a {
    color: inherit;
}

.theme1 .article-tag a:hover {
    text-decoration: none;
}
