article h1 {
    text-align: center;
    font-size: 28px;
    color: #b71540;
    font-weight: bold;
}

article h2 {
    font-size: 22px;
    color: #e58e26;
    font-weight: bold;
}

article h3 {
    font-size: 16px;
    color: #1e3799;
    font-weight: bold;
}

article img {
    max-width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding: 3px;
}

article a {
    color: inherit !important;
}

article a:before {
    content: '';
    width: 1px;
    margin-top: -50px;
    padding-top: 50px;
}

article a:hover {
    color: inherit;
}

article p a {
    color: indigo !important;
}

article p {
    line-height: 24px;
    font-weight: normal;
}

article strong {
    color: #c44569;
}

.article-hr {
    margin-top: 40px !important;
}

.time-info {
    border-bottom: 1px solid grey;
    font-size: smaller;
    color: grey;
    opacity: 0.66;
}

.nav-list > .active > a, .nav-list > .active > a:hover {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #a6a6a6;
}

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
    background: rgba(255, 255, 255, 0);
}

.tocify {
    margin-left: 0;
}

pre::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
pre::-webkit-scrollbar-thumb {
    background-color: rgba(68,68,68,0.5);
}

pre {
    scrollbar-width: thin;
    scrollbar-color: rgba(68,68,68,0.5) transparent;
}