/*文章主题1*/
.theme1 .article-description {
    color: #4d4d4d;
    width: 100%;
}

.theme1 .article-description:hover {
    text-decoration: none;
}

.theme1 .article-img {
    margin: 10px 5px 0;
}

.theme1 .article-img svg {
    width: 48px;
    height: 48px;
}

.theme1 .article-hr {
    margin: 5px 0;
}

.theme1 .article-title {
    margin-top: 10px;
    font-size: large;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.theme1 .article-content {
    color: #787878;
    margin-top: 10px;
    font-size: smaller;
    overflow: hidden;
    text-overflow: ellipsis;
}

.theme1 .article-tag {
    color: #787878;
    font-size: small;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}
