hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.article-list-header {
    margin: 0 15px;
    font-weight: lighter;
    font-size: 20px;
    color: #636e72;
}

.article-list-header svg {
    position: relative;
    top: 5px;
    width: 36px;
    height: 36px;
}

.books {
    display: flex;
    padding: 5px 0 0;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.book {
    margin: 0 10px 10px;
    width: 90px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px 0 0 6px;
}

.book:hover {
    text-decoration: none;
}

.book:after {
    position: relative;
    content: "";
    width: 3px;
    height: 100%;
    float: right;
    right: -5px;
    top: -120px;
    background-color: rgba(255, 255, 255, 0.9);
    background-size: 100% 100%;
}

.book-img, .book-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-img {
    width: 100%;
    height: 60%;
}

.book-img svg, .book-img img {
    position: relative;
    top: 7px;
    width: 48px;
    height: 48px;
}

.book-text {
    width: 100%;
    height: 40%;
    color: #656565;
    font-size: small;
    font-weight: lighter;
}