/*主页面承载*/
html::-webkit-scrollbar {
    width: 0;
    height: 0;
}

html {
    scrollbar-width: none;
}

/*背景图片*/
.background-img {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-size: contain;
    background: url("../images/bg1.jpg");
    z-index: -1;
}

.main-body {
    width: 100%;
    height: auto;
}

.container {
    padding: 0 !important;
    height: auto;
    box-shadow: 0 0 10px #c3c3c3;
    background: #ffffff00;
}

/*页首*/
header {
    width: 100%;
    height: 50px;
    max-width: 1170px;
    background-color: rgb(175, 169, 255);
    position: fixed;
    top: 0;
    z-index: 12345;
    box-shadow: 0 0 10px #c3c3c3;
}

.avatar {
    display: none;
    float: left;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}

.avatar img {
    height: 35px;
    width: 35px;
    background-color: rgba(214, 214, 214, 0.5);
    border-radius: 50%;
}

.header-btn-left, .header-btn-right {
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
}

.header-btn-left {
    justify-content: left;
}

.header-btn-left a {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.header-btn-right {
    justify-content: right;
}

.search-input {
    margin: 0 10px;
    background-color: rgba(78, 78, 78, 0.95);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.search-input:hover {
    padding: 0 0 0 15px;
}

.search-input:hover > .search-text {
    display: inline;
    width: 120px;
}

.search-input:hover > .search-btn {
    background-color: rgba(255, 255, 255, 0.95);
    height: 24px;
    width: 24px;
    margin-right: 3px;
    transition: 0.3s ease-in-out;
}

.search-input:hover > .search-btn svg {
    position: relative;
    top: -1px;
}

.search-btn {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    height: 30px;
    width: 30px;
    transition: 0.3s ease-in-out;
}

.search-text {
    padding: 0;
    width: 0;
    height: 40px;
    border: none;
    background: none;
    outline: none;
    color: rgba(255, 255, 255, 0.95);
    font-size: 12px;
    transition: 0.8s ease-in-out;
}

.list-btn {
    display: none;
}

.list-btn-top, .list-btn-mid, .list-btn-btm {
    margin: 4px 10px;
    width: 25px;
    height: 4px;
    background-color: #4c5465;
}

/*左侧边*/
aside::-webkit-scrollbar {
    width: 0;
}

aside {
    width: 220px;
    height: 100vh;
    background-color: rgba(240, 240, 240, 0.7);
    position: fixed !important;
    z-index: 996;
    padding: 0 10px;
    margin-top: 50px;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

.personal-info {
    margin: 15px 0;
    padding: 15px 0 5px;
    background-color: rgba(235, 235, 235, 0.5);
    border-radius: 15px;
}

.personal-avatar, .personal-username {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.avatar-img {
    position: relative;
    padding: 4px;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    border-radius: 50%;
    transition: all 1s;
}

.avatar-img > img {
    height: 100%;
    width: 100%;
}

.avatar-img:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid white;
    left: 0;
    top: 0;
    border-radius: 50%;
    animation: wave 1.5s infinite linear;
}

@keyframes wave {
    to {
        transform: scale(1.3);
        opacity: 0;
    }
}

.avatar-img:hover, .avatar:hover {
    transform: rotate(360deg);
}

.personal-username {
    padding: 5px 0;
    font-size: 1.6em;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
    font-family: "Segoe Print", sans-serif;
}

.personal-motto {
    font-size: smaller;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.personal-link {
    display: flex;
    width: 100%;
    padding: 15px 0;
    align-items: center;
    justify-content: space-around;
}

.personal-link a {
    width: 16%;
}

.personal-link a svg {
    width: 32px;
    height: 32px;
}

.personal-link a svg:hover {
    background-color: rgba(0, 247, 238, 0.3);
    box-shadow: 0 0 12px #00f7ee;
}

.left-nav, .count {
    width: 100%;
    height: auto;
    margin: 15px 0;
    background-color: rgba(235, 235, 235, 0.5);
    border-radius: 10px;
}

.left-nav {
    padding: 15px;
    font-size: 16px;
}

.left-nav ul {
    margin: 0;
    padding: 0;
}

.left-nav li {
    list-style: none;
}

.left-nav li:hover {
    border-radius: 3px;
    background-color: rgba(241, 241, 241, 0.3);
    box-shadow: 0 0 4px rgba(241, 241, 241, 0.3);
}

.left-nav li a {
    display: flex;
    height: 30px;
    align-items: center;
    text-decoration: none;
    color: #535c68;
}

.left-nav li a svg {
    display: inline;
    margin-left: 5px;
    margin-right: 15px;
}

.selected span {
    color: #ea9518;
}

.count {
    padding: 10px 15px;
    color: #5d5d5d;
    font-size: smaller;
}

.num {
    color: rgba(255, 6, 0, 0.75);
}

/*主体内容区*/
main {
    display: flex;
    margin: 0 0 0 220px;
    padding: 50px 0 0;
    background-color: rgba(240, 240, 240, 0.7);
    height: auto;
    min-height: 100vh;
}

.article-main {
    margin-bottom: 90px;
    padding: 0 15px;
    width: 75%;
    height: auto;
}

.article-aside::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.article-aside {
    margin: 0;
    padding: 0;
    width: 25%;
    scrollbar-width: none;
}

.article-list {
    display: block;
    margin: 15px 0;
    padding: 5px 15px;
    background-color: rgba(255, 255, 255, 0.45);
    width: 100%;
    height: auto;
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: 0 0 16px rgba(216, 216, 216, 0.5);
}

.pointer:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 16px rgba(0, 206, 204, 0.5);
}

.article-aside-fixed {
    margin: 0;
    padding: 0;
}

.article-catalog {
    margin: 15px 15px 0 0;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.45);
    height: auto;
    width: 173px;
    word-break: break-all;
    transition: 0.5s ease-in-out;
}

/*固定定位*/
.fixed {
    position: fixed;
}

figcaption {
    text-align: center;
}

/*响应式布局*/
@media (max-width: 1199px) {
    header {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .article-catalog {
        width: 223px;
    }
}

@media (max-width: 992px) {
    aside {
        width: 0;
        padding: 0;
        background: #d6d7db;
        box-shadow: 0 0 10px #222f3e;
        z-index: 10086;
        transition: 0.8s ease-in-out;
    }

    aside.active {
        width: 220px;
        padding: 0 10px 80px;
        transition: 0.8s ease-in-out;
    }

    aside div, aside nav {
        position: relative;
        left: -220px;
        transition: 0.5s ease-in-out;
    }

    aside.active div, aside.active nav {
        left: 0;
        transition: 1s ease-in-out;
    }

    main {
        margin: 0;
    }

    .avatar {
        display: flex;
    }

    header {
        max-width: 750px;
    }
}

@media (max-width: 767px) {
    .article-main {
        width: 100%;
    }

    header {
        max-width: 768px;
    }

    .list-btn {
        display: block;
    }

    .list-btn div {
        transition: 0.3s ease-in-out;
    }

    .list-btn.active div {
        transition: 0.3s ease-in-out;
    }

    .list-btn.active .list-btn-top {
        transform: rotate(45deg) translate(5px, 6px);
    }

    .list-btn.active .list-btn-mid {
        opacity: 0;
    }

    .list-btn.active .list-btn-btm {
        transform: rotate(-45deg) translate(5px, -6px);
    }

    .article-aside {
        position: fixed;
        right: 0;
        width: 220px;
        height: 0;
        transition: height 1s ease-in-out;
    }

    .article-catalog {
        position: relative;
        display: none;
        height: 0;
    }

    .article-aside.active {
        height: 250px;
        width: 100%;
        padding: 15px;
        overflow: scroll;
        background-color: rgba(139, 141, 255, 0.95);
        transition: height 1s ease-in-out;
    }

    .article-catalog.active {
        display: block;
        opacity: 1;
        margin: 0;
        padding: 15px;
        width: 100%;
        height: auto;
        transition: height 1s ease-in-out;
    }
}

/*来必力*/
#lv-container {
    padding: 5px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
}

/*iconfont*/
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/*音乐播放器*/
#aplayer {
    z-index: 10010;
}

.aplayer .aplayer-lrc p {
    color: crimson !important;
}

.aplayer.aplayer-fixed .aplayer-lrc {
    text-shadow: -1px -1px 0 #bfd989 !important;
}

.aplayer .aplayer-list ol::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.aplayer .aplayer-list ol::-webkit-scrollbar-thumb {
    background-color: #C4E538 !important;
}

.aplayer .aplayer-list ol {
    scrollbar-width: thin;
    scrollbar-color: #C4E538 transparent;
}

/*layer弹层*/
.layer-skin {
    background-color: rgba(255, 255, 255, 0.8) !important;
}