.main-body {
    width: 100%;
    height: 100vh;
    background : url(../../statics/images/bg.jpg) no-repeat center;
    background-size: cover;
    overflow: scroll;
    overflow-x: hidden;
}

.container {
    margin: 10px auto;
    padding: 0 15px;
    border: 1px solid #daded2;
    border-radius: 20px;
    max-width: 100%;
    box-shadow: 2px 2px 8px #c6fafc;
    background: rgba(255, 255, 255, 0.3);
}

.icon {
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}

.container .caption {
    font-size: 16px;
    line-height: 24px;
    padding: 12px 20px 0;
    color: #ffffff;
    background: rgba(255, 255, 255, 0);
}

.container .caption .icon {
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.container .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.container .list li {
    width: 100%;
    margin: 0.5% 0.33333333% 1%;
}

.container .list li a {
    position: relative;
    display: block;
    height: 50px;
    padding: 4px;
    border: 1px solid #e3ebeb;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.3);
}

.container .list li a:hover {
    animation: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-box-shadow: 0 0 8px #0fa007;
    box-shadow: 0 0 8px #0fa007;
    background: rgba(255, 255, 255, 0.5);
}

.container .list .title {
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000fdc;
}

.container .list .title img {
    float: left;
    width: auto;
    height: 20px;
    margin-right: 8px;
    margin-left: 8px;
}

.container .list .desc {
    line-height: 24px;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container .list .desc span {
    font-size: 12px;
    margin-left: 8px;
}

@media (min-width: 768px) {
    .container .list li a {
        height: 90px;
        padding: 12px;
    }

    .container .list li {
        width: 49%;
        margin: 0.5% 0.33333333% 1%;
    }

    .container .list .title {
        font-size: 18px;
        line-height: 40px;
        height: 40px;
    }

    .container .list .title img {
        height: 30px;
        margin-right: 8px;
        margin-left: 0;
    }

    .container .list .desc span {
        font-size: 14px;
        margin-left: 0;
    }
}

@media (min-width: 1200px) {
    .container .list li {
        width: 32%;
        margin: 0.5% 0.66666666% 1%;
    }
}

/*.container .list .desc span:hover {
    color: #ff6000;
    display: inline-block;
    padding-left: 100%;  !* 从右至左开始轮播 *!
    -webkit-animation: marquee 6s linear infinite;
    animation: marquee 6s linear infinite;
}

@-webkit-keyframes marquee {
    0%   { -webkit-transform: translate(0, 0); }
    100% { -webkit-transform: translate(-100%, 0); }
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}*/