/*!
 * Maokdown-UI MIT License By https://github.com/T-miracle/Maokdown-UI
 */

/*全局样式*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #23527c;
    text-decoration: none;
}

body {
    font: 14px Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif;
    line-height: 24px;
}

blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

li {
    list-style: none
}

hr {
    height: 1px;
    margin: 10px 0;
    border: 0;
    clear: both;
    background-color: #e6e6e6;
}

/*响应式布局*/
.maok-container:after, .maok-container:before, .maok-fluid:after, .maok-fluid:before {
    display: block;
    content: '';
    clear: both;
}

.maok-container {
    position: relative;
    margin: 0 auto;
    padding: 0 15px;;
}

.maok-fluid {
    position: relative;
    margin: 0 auto;
    padding: 0 15px
}

.maok-lg1, .maok-lg2, .maok-lg3, .maok-lg4, .maok-lg5, .maok-lg6,
.maok-lg7, .maok-lg8, .maok-lg9, .maok-lg10, .maok-lg11, .maok-lg12,
.maok-lg13, .maok-lg14, .maok-lg15, .maok-lg16, .maok-lg17, .maok-lg18,
.maok-lg19, .maok-lg20, .maok-lg21, .maok-lg22, .maok-lg23, .maok-lg24,
.maok-md1, .maok-md2, .maok-md3, .maok-md4, .maok-md5, .maok-md6,
.maok-md7, .maok-md8, .maok-md9, .maok-md10, .maok-md11, .maok-md12,
.maok-md13, .maok-md14, .maok-md15, .maok-md16, .maok-md17, .maok-md18,
.maok-md19, .maok-md20, .maok-md21, .maok-md22, .maok-md23, .maok-md24,
.maok-sm1, .maok-sm2, .maok-sm3, .maok-sm4, .maok-sm5, .maok-sm6,
.maok-sm7, .maok-sm8, .maok-sm9, .maok-sm10, .maok-sm11, .maok-sm12,
.maok-sm13, .maok-sm14, .maok-sm15, .maok-sm16, .maok-sm17, .maok-sm18,
.maok-sm19, .maok-sm20, .maok-sm21, .maok-sm22, .maok-sm23, .maok-sm24,
.maok-xs1, .maok-xs2, .maok-xs3, .maok-xs4, .maok-xs5, .maok-xs6,
.maok-xs7, .maok-xs8, .maok-xs9, .maok-xs10, .maok-xs11, .maok-xs12,
.maok-xs13, .maok-xs14, .maok-xs15, .maok-xs16, .maok-xs17, .maok-xs18,
.maok-xs19, .maok-xs20, .maok-xs21, .maok-xs22, .maok-xs23, .maok-xs24 {
    position: relative;
    min-height: 1px;
    padding: 0 15px;
}

.maok-xs1, .maok-xs2, .maok-xs3, .maok-xs4, .maok-xs5, .maok-xs6,
.maok-xs7, .maok-xs8, .maok-xs9, .maok-xs10, .maok-xs11, .maok-xs12,
.maok-xs13, .maok-xs14, .maok-xs15, .maok-xs16, .maok-xs17, .maok-xs18,
.maok-xs19, .maok-xs20, .maok-xs21, .maok-xs22, .maok-xs23, .maok-xs24 {
    float: left;
}

.maok-xs1 {
    width: 4.16666667%;
}

.maok-xs2 {
    width: 8.33333333%;
}

.maok-xs3 {
    width: 12.5%;
}

.maok-xs4 {
    width: 16.66666667%;
}

.maok-xs5 {
    width: 20.83333333%;
}

.maok-xs6 {
    width: 25%;
}

.maok-xs7 {
    width: 29.16666667%;
}

.maok-xs8 {
    width: 33.33333333%;
}

.maok-xs9 {
    width: 37.5%;
}

.maok-xs10 {
    width: 41.66666667%;
}

.maok-xs11 {
    width: 45.83333333%;
}

.maok-xs12 {
    width: 50%;
}

.maok-xs13 {
    width: 54.16666667%;
}

.maok-xs14 {
    width: 58.33333333%;
}

.maok-xs15 {
    width: 62.5%;
}

.maok-xs16 {
    width: 66.66666667%;
}

.maok-xs17 {
    width: 70.83333333%;
}

.maok-xs18 {
    width: 75%;
}

.maok-xs19 {
    width: 79.16666667%;
}

.maok-xs20 {
    width: 83.33333333%;
}

.maok-xs21 {
    width: 87.5%;
}

.maok-xs22 {
    width: 91.66666667%;
}

.maok-xs23 {
    width: 95.83333333%;
}

.maok-xs24 {
    width: 100%;
}

.maok-xs-offset1 {
    width: 4.16666667%;
}

.maok-xs-offset2 {
    width: 8.33333333%;
}

.maok-xs-offset3 {
    width: 12.5%;
}

.maok-xs-offset4 {
    width: 16.66666667%;
}

.maok-xs-offset5 {
    width: 20.83333333%;
}

.maok-xs-offset6 {
    width: 25%;
}

.maok-xs-offset7 {
    width: 29.16666667%;
}

.maok-xs-offset8 {
    width: 33.33333333%;
}

.maok-xs-offset9 {
    width: 37.5%;
}

.maok-xs-offset10 {
    width: 41.66666667%;
}

.maok-xs-offset11 {
    width: 45.83333333%;
}

.maok-xs-offset12 {
    width: 50%;
}

.maok-xs-offset13 {
    width: 54.16666667%;
}

.maok-xs-offset14 {
    width: 58.33333333%;
}

.maok-xs-offset15 {
    width: 62.5%;
}

.maok-xs-offset16 {
    width: 66.66666667%;
}

.maok-xs-offset17 {
    width: 70.83333333%;
}

.maok-xs-offset18 {
    width: 75%;
}

.maok-xs-offset19 {
    width: 79.16666667%;
}

.maok-xs-offset20 {
    width: 83.33333333%;
}

.maok-xs-offset21 {
    width: 87.5%;
}

.maok-xs-offset22 {
    width: 91.66666667%;
}

.maok-xs-offset23 {
    width: 95.83333333%;
}

.maok-xs-offset24 {
    width: 100%;
}

@media (min-width: 768px) {
    .maok-container {
        width: 750px
    }

    .maok-sm1, .maok-sm2, .maok-sm3, .maok-sm4, .maok-sm5, .maok-sm6,
    .maok-sm7, .maok-sm8, .maok-sm9, .maok-sm10, .maok-sm11, .maok-sm12,
    .maok-sm13, .maok-sm14, .maok-sm15, .maok-sm16, .maok-sm17, .maok-sm18,
    .maok-sm19, .maok-sm20, .maok-sm21, .maok-sm22, .maok-sm23, .maok-sm24 {
        float: left;
    }

    .maok-sm1 {
        width: 4.16666667%;
    }

    .maok-sm2 {
        width: 8.33333333%;
    }

    .maok-sm3 {
        width: 12.5%;
    }

    .maok-sm4 {
        width: 16.66666667%;
    }

    .maok-sm5 {
        width: 20.83333333%;
    }

    .maok-sm6 {
        width: 25%;
    }

    .maok-sm7 {
        width: 29.16666667%;
    }

    .maok-sm8 {
        width: 33.33333333%;
    }

    .maok-sm9 {
        width: 37.5%;
    }

    .maok-sm10 {
        width: 41.66666667%;
    }

    .maok-sm11 {
        width: 45.83333333%;
    }

    .maok-sm12 {
        width: 50%;
    }

    .maok-sm13 {
        width: 54.16666667%;
    }

    .maok-sm14 {
        width: 58.33333333%;
    }

    .maok-sm15 {
        width: 62.5%;
    }

    .maok-sm16 {
        width: 66.66666667%;
    }

    .maok-sm17 {
        width: 70.83333333%;
    }

    .maok-sm18 {
        width: 75%;
    }

    .maok-sm19 {
        width: 79.16666667%;
    }

    .maok-sm20 {
        width: 83.33333333%;
    }

    .maok-sm21 {
        width: 87.5%;
    }

    .maok-sm22 {
        width: 91.66666667%;
    }

    .maok-sm23 {
        width: 95.83333333%;
    }

    .maok-sm24 {
        width: 100%;
    }

    .maok-sm-offset1 {
        width: 4.16666667%;
    }

    .maok-sm-offset2 {
        width: 8.33333333%;
    }

    .maok-sm-offset3 {
        width: 12.5%;
    }

    .maok-sm-offset4 {
        width: 16.66666667%;
    }

    .maok-sm-offset5 {
        width: 20.83333333%;
    }

    .maok-sm-offset6 {
        width: 25%;
    }

    .maok-sm-offset7 {
        width: 29.16666667%;
    }

    .maok-sm-offset8 {
        width: 33.33333333%;
    }

    .maok-sm-offset9 {
        width: 37.5%;
    }

    .maok-sm-offset10 {
        width: 41.66666667%;
    }

    .maok-sm-offset11 {
        width: 45.83333333%;
    }

    .maok-sm-offset12 {
        width: 50%;
    }

    .maok-sm-offset13 {
        width: 54.16666667%;
    }

    .maok-sm-offset14 {
        width: 58.33333333%;
    }

    .maok-sm-offset15 {
        width: 62.5%;
    }

    .maok-sm-offset16 {
        width: 66.66666667%;
    }

    .maok-sm-offset17 {
        width: 70.83333333%;
    }

    .maok-sm-offset18 {
        width: 75%;
    }

    .maok-sm-offset19 {
        width: 79.16666667%;
    }

    .maok-sm-offset20 {
        width: 83.33333333%;
    }

    .maok-sm-offset21 {
        width: 87.5%;
    }

    .maok-sm-offset22 {
        width: 91.66666667%;
    }

    .maok-sm-offset23 {
        width: 95.83333333%;
    }

    .maok-sm-offset24 {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .maok-container {
        width: 970px
    }

    .maok-md1, .maok-md2, .maok-md3, .maok-md4, .maok-md5, .maok-md6,
    .maok-md7, .maok-md8, .maok-md9, .maok-md10, .maok-md11, .maok-md12,
    .maok-md13, .maok-md14, .maok-md15, .maok-md16, .maok-md17, .maok-md18,
    .maok-md19, .maok-md20, .maok-md21, .maok-md22, .maok-md23, .maok-md24 {
        float: left;
    }

    .maok-md1 {
        width: 4.16666667%;
    }

    .maok-md2 {
        width: 8.33333333%;
    }

    .maok-md3 {
        width: 12.5%;
    }

    .maok-md4 {
        width: 16.66666667%;
    }

    .maok-md5 {
        width: 20.83333333%;
    }

    .maok-md6 {
        width: 25%;
    }

    .maok-md7 {
        width: 29.16666667%;
    }

    .maok-md8 {
        width: 33.33333333%;
    }

    .maok-md9 {
        width: 37.5%;
    }

    .maok-md10 {
        width: 41.66666667%;
    }

    .maok-md11 {
        width: 45.83333333%;
    }

    .maok-md12 {
        width: 50%;
    }

    .maok-md13 {
        width: 54.16666667%;
    }

    .maok-md14 {
        width: 58.33333333%;
    }

    .maok-md15 {
        width: 62.5%;
    }

    .maok-md16 {
        width: 66.66666667%;
    }

    .maok-md17 {
        width: 70.83333333%;
    }

    .maok-md18 {
        width: 75%;
    }

    .maok-md19 {
        width: 79.16666667%;
    }

    .maok-md20 {
        width: 83.33333333%;
    }

    .maok-md21 {
        width: 87.5%;
    }

    .maok-md22 {
        width: 91.66666667%;
    }

    .maok-md23 {
        width: 95.83333333%;
    }

    .maok-md24 {
        width: 100%;
    }

    .maok-md-offset1 {
        width: 4.16666667%;
    }

    .maok-md-offset2 {
        width: 8.33333333%;
    }

    .maok-md-offset3 {
        width: 12.5%;
    }

    .maok-md-offset4 {
        width: 16.66666667%;
    }

    .maok-md-offset5 {
        width: 20.83333333%;
    }

    .maok-md-offset6 {
        width: 25%;
    }

    .maok-md-offset7 {
        width: 29.16666667%;
    }

    .maok-md-offset8 {
        width: 33.33333333%;
    }

    .maok-md-offset9 {
        width: 37.5%;
    }

    .maok-md-offset10 {
        width: 41.66666667%;
    }

    .maok-md-offset11 {
        width: 45.83333333%;
    }

    .maok-md-offset12 {
        width: 50%;
    }

    .maok-md-offset13 {
        width: 54.16666667%;
    }

    .maok-md-offset14 {
        width: 58.33333333%;
    }

    .maok-md-offset15 {
        width: 62.5%;
    }

    .maok-md-offset16 {
        width: 66.66666667%;
    }

    .maok-md-offset17 {
        width: 70.83333333%;
    }

    .maok-md-offset18 {
        width: 75%;
    }

    .maok-md-offset19 {
        width: 79.16666667%;
    }

    .maok-md-offset20 {
        width: 83.33333333%;
    }

    .maok-md-offset21 {
        width: 87.5%;
    }

    .maok-md-offset22 {
        width: 91.66666667%;
    }

    .maok-md-offset23 {
        width: 95.83333333%;
    }

    .maok-md-offset24 {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .maok-container {
        width: 1170px
    }

    .maok-lg1, .maok-lg2, .maok-lg3, .maok-lg4, .maok-lg5, .maok-lg6,
    .maok-lg7, .maok-lg8, .maok-lg9, .maok-lg10, .maok-lg11, .maok-lg12,
    .maok-lg13, .maok-lg14, .maok-lg15, .maok-lg16, .maok-lg17, .maok-lg18,
    .maok-lg19, .maok-lg20, .maok-lg21, .maok-lg22, .maok-lg23, .maok-lg24 {
        float: left;
    }

    .maok-lg1 {
        width: 4.16666667%;
    }

    .maok-lg2 {
        width: 8.33333333%;
    }

    .maok-lg3 {
        width: 12.5%;
    }

    .maok-lg4 {
        width: 16.66666667%;
    }

    .maok-lg5 {
        width: 20.83333333%;
    }

    .maok-lg6 {
        width: 25%;
    }

    .maok-lg7 {
        width: 29.16666667%;
    }

    .maok-lg8 {
        width: 33.33333333%;
    }

    .maok-lg9 {
        width: 37.5%;
    }

    .maok-lg10 {
        width: 41.66666667%;
    }

    .maok-lg11 {
        width: 45.83333333%;
    }

    .maok-lg12 {
        width: 50%;
    }

    .maok-lg13 {
        width: 54.16666667%;
    }

    .maok-lg14 {
        width: 58.33333333%;
    }

    .maok-lg15 {
        width: 62.5%;
    }

    .maok-lg16 {
        width: 66.66666667%;
    }

    .maok-lg17 {
        width: 70.83333333%;
    }

    .maok-lg18 {
        width: 75%;
    }

    .maok-lg19 {
        width: 79.16666667%;
    }

    .maok-lg20 {
        width: 83.33333333%;
    }

    .maok-lg21 {
        width: 87.5%;
    }

    .maok-lg22 {
        width: 91.66666667%;
    }

    .maok-lg23 {
        width: 95.83333333%;
    }

    .maok-lg24 {
        width: 100%;
    }

    .maok-lg-offset1 {
        width: 4.16666667%;
    }

    .maok-lg-offset2 {
        width: 8.33333333%;
    }

    .maok-lg-offset3 {
        width: 12.5%;
    }

    .maok-lg-offset4 {
        width: 16.66666667%;
    }

    .maok-lg-offset5 {
        width: 20.83333333%;
    }

    .maok-lg-offset6 {
        width: 25%;
    }

    .maok-lg-offset7 {
        width: 29.16666667%;
    }

    .maok-lg-offset8 {
        width: 33.33333333%;
    }

    .maok-lg-offset9 {
        width: 37.5%;
    }

    .maok-lg-offset10 {
        width: 41.66666667%;
    }

    .maok-lg-offset11 {
        width: 45.83333333%;
    }

    .maok-lg-offset12 {
        width: 50%;
    }

    .maok-lg-offset13 {
        width: 54.16666667%;
    }

    .maok-lg-offset14 {
        width: 58.33333333%;
    }

    .maok-lg-offset15 {
        width: 62.5%;
    }

    .maok-lg-offset16 {
        width: 66.66666667%;
    }

    .maok-lg-offset17 {
        width: 70.83333333%;
    }

    .maok-lg-offset18 {
        width: 75%;
    }

    .maok-lg-offset19 {
        width: 79.16666667%;
    }

    .maok-lg-offset20 {
        width: 83.33333333%;
    }

    .maok-lg-offset21 {
        width: 87.5%;
    }

    .maok-lg-offset22 {
        width: 91.66666667%;
    }

    .maok-lg-offset23 {
        width: 95.83333333%;
    }

    .maok-lg-offset24 {
        width: 100%;
    }
}

/*按钮*/
.maok-btn-lg, .maok-btn-md, .maok-btn-sm, .maok-btn-xs {
    display: inline-block;
    text-align: center;
    font-weight: normal;
    background-image: none;
    border: 1px solid grey;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    touch-action: manipulation;
    -ms-touch-action: manipulation;
}

.maok-btn-lg {
    padding: 10px 18px;
    font-size: 18px;
}

.maok-btn-md {
    padding: 6px 14px;
    font-size: 14px;
}

.maok-btn-sm {
    padding: 4px 10px;
    font-size: 12px;
}

.maok-btn-xs {
    padding: 2px 6px;
    font-size: 10px;
}