/*!
 * maokdown-UI MIT License By https://github.com/T-miracle/maokdown-UI
 */

/*全局样式*/
*::-webkit-scrollbar {
    width: 0;/*谷歌、苹果浏览器滚动条隐藏*/
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scrollbar-width: none;/*火狐浏览器滚动条隐藏*/
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #23527c;
    text-decoration: none;
}

body {
    font: 14px Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif;
    line-height: 24px;
}

blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

li {
    list-style: none
}

hr {
    height: 1px;
    margin: 10px 0;
    border: 0;
    clear: both;
    background-color: #e6e6e6;
}

/*响应式布局*/
.mk-container:after, .mk-container:before, .mk-fluid:after, .mk-fluid:before {
    display: block;
    content: '';
    clear: both;
}

.mk-container {
    position: relative;
    margin: 0 auto;
    padding: 0;
}

.mk-fluid {
    position: relative;
    margin: 0 auto;
    padding: 0;
}

.mk-lg1, .mk-lg2, .mk-lg3, .mk-lg4, .mk-lg5, .mk-lg6,
.mk-lg7, .mk-lg8, .mk-lg9, .mk-lg10, .mk-lg11, .mk-lg12,
.mk-lg13, .mk-lg14, .mk-lg15, .mk-lg16, .mk-lg17, .mk-lg18,
.mk-lg19, .mk-lg20, .mk-lg21, .mk-lg22, .mk-lg23, .mk-lg24,
.mk-md1, .mk-md2, .mk-md3, .mk-md4, .mk-md5, .mk-md6,
.mk-md7, .mk-md8, .mk-md9, .mk-md10, .mk-md11, .mk-md12,
.mk-md13, .mk-md14, .mk-md15, .mk-md16, .mk-md17, .mk-md18,
.mk-md19, .mk-md20, .mk-md21, .mk-md22, .mk-md23, .mk-md24,
.mk-sm1, .mk-sm2, .mk-sm3, .mk-sm4, .mk-sm5, .mk-sm6,
.mk-sm7, .mk-sm8, .mk-sm9, .mk-sm10, .mk-sm11, .mk-sm12,
.mk-sm13, .mk-sm14, .mk-sm15, .mk-sm16, .mk-sm17, .mk-sm18,
.mk-sm19, .mk-sm20, .mk-sm21, .mk-sm22, .mk-sm23, .mk-sm24,
.mk-xs1, .mk-xs2, .mk-xs3, .mk-xs4, .mk-xs5, .mk-xs6,
.mk-xs7, .mk-xs8, .mk-xs9, .mk-xs10, .mk-xs11, .mk-xs12,
.mk-xs13, .mk-xs14, .mk-xs15, .mk-xs16, .mk-xs17, .mk-xs18,
.mk-xs19, .mk-xs20, .mk-xs21, .mk-xs22, .mk-xs23, .mk-xs24 {
    position: relative;
    min-height: 1px;
    padding: 0 15px;
}

.mk-xs1, .mk-xs2, .mk-xs3, .mk-xs4, .mk-xs5, .mk-xs6,
.mk-xs7, .mk-xs8, .mk-xs9, .mk-xs10, .mk-xs11, .mk-xs12,
.mk-xs13, .mk-xs14, .mk-xs15, .mk-xs16, .mk-xs17, .mk-xs18,
.mk-xs19, .mk-xs20, .mk-xs21, .mk-xs22, .mk-xs23, .mk-xs24 {
    float: left;
}

.mk-xs1 {
    width: 4.16666667%;
}

.mk-xs2 {
    width: 8.33333333%;
}

.mk-xs3 {
    width: 12.5%;
}

.mk-xs4 {
    width: 16.66666667%;
}

.mk-xs5 {
    width: 20.83333333%;
}

.mk-xs6 {
    width: 25%;
}

.mk-xs7 {
    width: 29.16666667%;
}

.mk-xs8 {
    width: 33.33333333%;
}

.mk-xs9 {
    width: 37.5%;
}

.mk-xs10 {
    width: 41.66666667%;
}

.mk-xs11 {
    width: 45.83333333%;
}

.mk-xs12 {
    width: 50%;
}

.mk-xs13 {
    width: 54.16666667%;
}

.mk-xs14 {
    width: 58.33333333%;
}

.mk-xs15 {
    width: 62.5%;
}

.mk-xs16 {
    width: 66.66666667%;
}

.mk-xs17 {
    width: 70.83333333%;
}

.mk-xs18 {
    width: 75%;
}

.mk-xs19 {
    width: 79.16666667%;
}

.mk-xs20 {
    width: 83.33333333%;
}

.mk-xs21 {
    width: 87.5%;
}

.mk-xs22 {
    width: 91.66666667%;
}

.mk-xs23 {
    width: 95.83333333%;
}

.mk-xs24 {
    width: 100%;
}

.mk-xs-offset1 {
    width: 4.16666667%;
}

.mk-xs-offset2 {
    width: 8.33333333%;
}

.mk-xs-offset3 {
    width: 12.5%;
}

.mk-xs-offset4 {
    width: 16.66666667%;
}

.mk-xs-offset5 {
    width: 20.83333333%;
}

.mk-xs-offset6 {
    width: 25%;
}

.mk-xs-offset7 {
    width: 29.16666667%;
}

.mk-xs-offset8 {
    width: 33.33333333%;
}

.mk-xs-offset9 {
    width: 37.5%;
}

.mk-xs-offset10 {
    width: 41.66666667%;
}

.mk-xs-offset11 {
    width: 45.83333333%;
}

.mk-xs-offset12 {
    width: 50%;
}

.mk-xs-offset13 {
    width: 54.16666667%;
}

.mk-xs-offset14 {
    width: 58.33333333%;
}

.mk-xs-offset15 {
    width: 62.5%;
}

.mk-xs-offset16 {
    width: 66.66666667%;
}

.mk-xs-offset17 {
    width: 70.83333333%;
}

.mk-xs-offset18 {
    width: 75%;
}

.mk-xs-offset19 {
    width: 79.16666667%;
}

.mk-xs-offset20 {
    width: 83.33333333%;
}

.mk-xs-offset21 {
    width: 87.5%;
}

.mk-xs-offset22 {
    width: 91.66666667%;
}

.mk-xs-offset23 {
    width: 95.83333333%;
}

.mk-xs-offset24 {
    width: 100%;
}

@media (min-width: 768px) {
    .mk-container {
        width: 750px
    }

    .mk-sm1, .mk-sm2, .mk-sm3, .mk-sm4, .mk-sm5, .mk-sm6,
    .mk-sm7, .mk-sm8, .mk-sm9, .mk-sm10, .mk-sm11, .mk-sm12,
    .mk-sm13, .mk-sm14, .mk-sm15, .mk-sm16, .mk-sm17, .mk-sm18,
    .mk-sm19, .mk-sm20, .mk-sm21, .mk-sm22, .mk-sm23, .mk-sm24 {
        float: left;
    }

    .mk-sm1 {
        width: 4.16666667%;
    }

    .mk-sm2 {
        width: 8.33333333%;
    }

    .mk-sm3 {
        width: 12.5%;
    }

    .mk-sm4 {
        width: 16.66666667%;
    }

    .mk-sm5 {
        width: 20.83333333%;
    }

    .mk-sm6 {
        width: 25%;
    }

    .mk-sm7 {
        width: 29.16666667%;
    }

    .mk-sm8 {
        width: 33.33333333%;
    }

    .mk-sm9 {
        width: 37.5%;
    }

    .mk-sm10 {
        width: 41.66666667%;
    }

    .mk-sm11 {
        width: 45.83333333%;
    }

    .mk-sm12 {
        width: 50%;
    }

    .mk-sm13 {
        width: 54.16666667%;
    }

    .mk-sm14 {
        width: 58.33333333%;
    }

    .mk-sm15 {
        width: 62.5%;
    }

    .mk-sm16 {
        width: 66.66666667%;
    }

    .mk-sm17 {
        width: 70.83333333%;
    }

    .mk-sm18 {
        width: 75%;
    }

    .mk-sm19 {
        width: 79.16666667%;
    }

    .mk-sm20 {
        width: 83.33333333%;
    }

    .mk-sm21 {
        width: 87.5%;
    }

    .mk-sm22 {
        width: 91.66666667%;
    }

    .mk-sm23 {
        width: 95.83333333%;
    }

    .mk-sm24 {
        width: 100%;
    }

    .mk-sm-offset1 {
        width: 4.16666667%;
    }

    .mk-sm-offset2 {
        width: 8.33333333%;
    }

    .mk-sm-offset3 {
        width: 12.5%;
    }

    .mk-sm-offset4 {
        width: 16.66666667%;
    }

    .mk-sm-offset5 {
        width: 20.83333333%;
    }

    .mk-sm-offset6 {
        width: 25%;
    }

    .mk-sm-offset7 {
        width: 29.16666667%;
    }

    .mk-sm-offset8 {
        width: 33.33333333%;
    }

    .mk-sm-offset9 {
        width: 37.5%;
    }

    .mk-sm-offset10 {
        width: 41.66666667%;
    }

    .mk-sm-offset11 {
        width: 45.83333333%;
    }

    .mk-sm-offset12 {
        width: 50%;
    }

    .mk-sm-offset13 {
        width: 54.16666667%;
    }

    .mk-sm-offset14 {
        width: 58.33333333%;
    }

    .mk-sm-offset15 {
        width: 62.5%;
    }

    .mk-sm-offset16 {
        width: 66.66666667%;
    }

    .mk-sm-offset17 {
        width: 70.83333333%;
    }

    .mk-sm-offset18 {
        width: 75%;
    }

    .mk-sm-offset19 {
        width: 79.16666667%;
    }

    .mk-sm-offset20 {
        width: 83.33333333%;
    }

    .mk-sm-offset21 {
        width: 87.5%;
    }

    .mk-sm-offset22 {
        width: 91.66666667%;
    }

    .mk-sm-offset23 {
        width: 95.83333333%;
    }

    .mk-sm-offset24 {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .mk-container {
        width: 970px
    }

    .mk-md1, .mk-md2, .mk-md3, .mk-md4, .mk-md5, .mk-md6,
    .mk-md7, .mk-md8, .mk-md9, .mk-md10, .mk-md11, .mk-md12,
    .mk-md13, .mk-md14, .mk-md15, .mk-md16, .mk-md17, .mk-md18,
    .mk-md19, .mk-md20, .mk-md21, .mk-md22, .mk-md23, .mk-md24 {
        float: left;
    }

    .mk-md1 {
        width: 4.16666667%;
    }

    .mk-md2 {
        width: 8.33333333%;
    }

    .mk-md3 {
        width: 12.5%;
    }

    .mk-md4 {
        width: 16.66666667%;
    }

    .mk-md5 {
        width: 20.83333333%;
    }

    .mk-md6 {
        width: 25%;
    }

    .mk-md7 {
        width: 29.16666667%;
    }

    .mk-md8 {
        width: 33.33333333%;
    }

    .mk-md9 {
        width: 37.5%;
    }

    .mk-md10 {
        width: 41.66666667%;
    }

    .mk-md11 {
        width: 45.83333333%;
    }

    .mk-md12 {
        width: 50%;
    }

    .mk-md13 {
        width: 54.16666667%;
    }

    .mk-md14 {
        width: 58.33333333%;
    }

    .mk-md15 {
        width: 62.5%;
    }

    .mk-md16 {
        width: 66.66666667%;
    }

    .mk-md17 {
        width: 70.83333333%;
    }

    .mk-md18 {
        width: 75%;
    }

    .mk-md19 {
        width: 79.16666667%;
    }

    .mk-md20 {
        width: 83.33333333%;
    }

    .mk-md21 {
        width: 87.5%;
    }

    .mk-md22 {
        width: 91.66666667%;
    }

    .mk-md23 {
        width: 95.83333333%;
    }

    .mk-md24 {
        width: 100%;
    }

    .mk-md-offset1 {
        width: 4.16666667%;
    }

    .mk-md-offset2 {
        width: 8.33333333%;
    }

    .mk-md-offset3 {
        width: 12.5%;
    }

    .mk-md-offset4 {
        width: 16.66666667%;
    }

    .mk-md-offset5 {
        width: 20.83333333%;
    }

    .mk-md-offset6 {
        width: 25%;
    }

    .mk-md-offset7 {
        width: 29.16666667%;
    }

    .mk-md-offset8 {
        width: 33.33333333%;
    }

    .mk-md-offset9 {
        width: 37.5%;
    }

    .mk-md-offset10 {
        width: 41.66666667%;
    }

    .mk-md-offset11 {
        width: 45.83333333%;
    }

    .mk-md-offset12 {
        width: 50%;
    }

    .mk-md-offset13 {
        width: 54.16666667%;
    }

    .mk-md-offset14 {
        width: 58.33333333%;
    }

    .mk-md-offset15 {
        width: 62.5%;
    }

    .mk-md-offset16 {
        width: 66.66666667%;
    }

    .mk-md-offset17 {
        width: 70.83333333%;
    }

    .mk-md-offset18 {
        width: 75%;
    }

    .mk-md-offset19 {
        width: 79.16666667%;
    }

    .mk-md-offset20 {
        width: 83.33333333%;
    }

    .mk-md-offset21 {
        width: 87.5%;
    }

    .mk-md-offset22 {
        width: 91.66666667%;
    }

    .mk-md-offset23 {
        width: 95.83333333%;
    }

    .mk-md-offset24 {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .mk-container {
        width: 1170px
    }

    .mk-lg1, .mk-lg2, .mk-lg3, .mk-lg4, .mk-lg5, .mk-lg6,
    .mk-lg7, .mk-lg8, .mk-lg9, .mk-lg10, .mk-lg11, .mk-lg12,
    .mk-lg13, .mk-lg14, .mk-lg15, .mk-lg16, .mk-lg17, .mk-lg18,
    .mk-lg19, .mk-lg20, .mk-lg21, .mk-lg22, .mk-lg23, .mk-lg24 {
        float: left;
    }

    .mk-lg1 {
        width: 4.16666667%;
    }

    .mk-lg2 {
        width: 8.33333333%;
    }

    .mk-lg3 {
        width: 12.5%;
    }

    .mk-lg4 {
        width: 16.66666667%;
    }

    .mk-lg5 {
        width: 20.83333333%;
    }

    .mk-lg6 {
        width: 25%;
    }

    .mk-lg7 {
        width: 29.16666667%;
    }

    .mk-lg8 {
        width: 33.33333333%;
    }

    .mk-lg9 {
        width: 37.5%;
    }

    .mk-lg10 {
        width: 41.66666667%;
    }

    .mk-lg11 {
        width: 45.83333333%;
    }

    .mk-lg12 {
        width: 50%;
    }

    .mk-lg13 {
        width: 54.16666667%;
    }

    .mk-lg14 {
        width: 58.33333333%;
    }

    .mk-lg15 {
        width: 62.5%;
    }

    .mk-lg16 {
        width: 66.66666667%;
    }

    .mk-lg17 {
        width: 70.83333333%;
    }

    .mk-lg18 {
        width: 75%;
    }

    .mk-lg19 {
        width: 79.16666667%;
    }

    .mk-lg20 {
        width: 83.33333333%;
    }

    .mk-lg21 {
        width: 87.5%;
    }

    .mk-lg22 {
        width: 91.66666667%;
    }

    .mk-lg23 {
        width: 95.83333333%;
    }

    .mk-lg24 {
        width: 100%;
    }

    .mk-lg-offset1 {
        width: 4.16666667%;
    }

    .mk-lg-offset2 {
        width: 8.33333333%;
    }

    .mk-lg-offset3 {
        width: 12.5%;
    }

    .mk-lg-offset4 {
        width: 16.66666667%;
    }

    .mk-lg-offset5 {
        width: 20.83333333%;
    }

    .mk-lg-offset6 {
        width: 25%;
    }

    .mk-lg-offset7 {
        width: 29.16666667%;
    }

    .mk-lg-offset8 {
        width: 33.33333333%;
    }

    .mk-lg-offset9 {
        width: 37.5%;
    }

    .mk-lg-offset10 {
        width: 41.66666667%;
    }

    .mk-lg-offset11 {
        width: 45.83333333%;
    }

    .mk-lg-offset12 {
        width: 50%;
    }

    .mk-lg-offset13 {
        width: 54.16666667%;
    }

    .mk-lg-offset14 {
        width: 58.33333333%;
    }

    .mk-lg-offset15 {
        width: 62.5%;
    }

    .mk-lg-offset16 {
        width: 66.66666667%;
    }

    .mk-lg-offset17 {
        width: 70.83333333%;
    }

    .mk-lg-offset18 {
        width: 75%;
    }

    .mk-lg-offset19 {
        width: 79.16666667%;
    }

    .mk-lg-offset20 {
        width: 83.33333333%;
    }

    .mk-lg-offset21 {
        width: 87.5%;
    }

    .mk-lg-offset22 {
        width: 91.66666667%;
    }

    .mk-lg-offset23 {
        width: 95.83333333%;
    }

    .mk-lg-offset24 {
        width: 100%;
    }
}

/*按钮*/
.mk-btn-lg, .mk-btn-md, .mk-btn-sm, .mk-btn-xs {
    display: inline-block;
    text-align: center;
    font-weight: normal;
    background-image: none;
    border: 1px solid grey;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    touch-action: manipulation;
    -ms-touch-action: manipulation;
}

.mk-btn-lg {
    padding: 10px 18px;
    font-size: 18px;
}

.mk-btn-md {
    padding: 6px 14px;
    font-size: 14px;
}

.mk-btn-sm {
    padding: 4px 10px;
    font-size: 12px;
}

.mk-btn-xs {
    padding: 2px 6px;
    font-size: 10px;
}