.main-body::-webkit-scrollbar {
    width: 0;
}

.main-body {
    width: 100%;
    height: 100vh;
    background: #efefef;
    background-size: cover;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

.container {
    padding: 0 !important;
    height: auto;
    box-shadow: 0 0 10px #c3c3c3;
}

header {
    width: 100%;
    height: 50px;
    max-width: 1170px;
    background-color: #0097e6;
    position: fixed;
    top: 0;
    z-index: 999;
    box-shadow: 0 0 10px #c3c3c3;
}

.avatar {
    display: none;
    float: left;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}

.avatar img {
    width: 35px;
    border-radius: 50%;
}

aside::-webkit-scrollbar {
    width: 0;
}

aside {
    width: 220px;
    height: 100vh;
    background-color: #dfe6e9;
    position: fixed !important;
    z-index: 997;
    padding: 50px 10px 0;
    transition: all 1s;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

.personal-info {
    margin: 15px 0;
}

.personal-avatar, .personal-username {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.personal-avatar img {
    width: 50%;
    border-radius: 50%;
    transition: all 1s;
}

.personal-avatar img:hover, .avatar:hover {
    transform: rotate(360deg);
}

.personal-username {
    padding: 5px 0;
    font-size: 1.6em;
    font-family: "Segoe Print", serif;
}

.personal-link {
    display: flex;
    width: 100%;
    padding: 15px 0;
    align-items: center;
    justify-content: space-around;
}

.personal-link a {
    width: 16%;
}

.personal-link a img {
    width: 100%;
}

.personal-link a img:hover {
    background-color: rgba(247, 183, 49, 0.31);
    box-shadow: 0 0 12px #f7b731;
}

main::-webkit-scrollbar {
    height: 0;
    width: 0;
}

main::-webkit-scrollbar-corner {
    width: 0;
}

main {
    display: flex;
    margin: 0 0 0 220px;
    padding: 50px 0 0 0;
    background-color: #f9f9f9;
    height: 100vh;
    overflow: scroll;
    scrollbar-width: none;
}

.article-main {
    padding: 0 15px;
    width: 75%;
}

.article-aside {
    padding: 0;
    width: 25%;
}

.article-list{
    margin: 15px 0;
    padding: 15px;
    background-color: #edeff0;
    height: 160px;
}

.article-catalog {
    margin: 15px 0;
    padding: 15px;
    background-color: #f1f3f4;
    height: auto;
    word-break: break-all;
    z-index: 1;
}

@media (max-width: 768px) {
    .article-main {
        width: 100%;
    }

    .article-aside {
        display: none;
    }

}

@media (max-width: 992px) {
    aside {
        display: none;
    }

    main {
        margin: 0;
    }

    .avatar {
        display: flex;
    }
}

@media (max-width: 1200px) {
    header {
        max-width: 970px;
    }
}

@media (max-width: 992px) {
    header {
        max-width: 750px;
    }
}

@media (max-width: 768px) {
    header {
        max-width: 768px;
    }
}

.fixed {
    position: fixed;
}